@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url("/font/NotoSansKR-Regular.woff2") format("woff2"),
    url("/font/NotoSansKR-Regular.woff") format("woff"),
    url("/font/NotoSansKR-Regular.otf") format("opentype");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --vh: 100%;
}
